# Секретні змінні (НАЙВАЖЛИВІШЕ)
.env
.env.local
.env.production
.env.development

# Залежності (node_modules занадто важкі для Git)
node_modules/
npm-debug.log
yarn-debug.log

# Специфічне для Next.js
.next/
out/
build/

# Специфічне для операційної системи
.DS_Store
Thumbs.db

# Логи та тимчасові файли
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.turbo/